<div class="container-fluid">
    <header class="d-flex flex-wrap justify-content-center py-1">
      <ul class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <li class="nav-item"><a href="#" class="nav-link px-1">
            <button type="button" class="btn btn-outline-light text-dark">Blocks</button>
        </a></li>

       <li class="nav-item"><a href="#" class="nav-link px-1">
            <button type="button" class="btn btn-outline-light text-dark">Validators</button>
        </a></li>

        <li class="nav-item"><a href="#" class="nav-link px-1">
            <button type="button" class="btn btn-outline-light text-dark">Tokens</button>
        </a></li>
      </ul>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link px-1">
            <button type="button" class="btn">
                <img src="../assets/Vector (3).png">
                <span class="ms-1 px-3 d-none d-sm-inline text-primary">Top Up</span>
            </button>
        </a></li>

        <li class="nav-item"><a href="#" class="nav-link px-1">
            <button type="button" class="btn" style="background-color: #BEDBFE;">
                <img src="../assets/Vector (4).png">
                <span class="ms-1 px-3 d-none d-sm-inline text-primary">Payment</span>
            </button>
        </a></li>

        <li class="nav-item"><a href="#" class="nav-link px-1">
            
                <img class="ms-1 py-0 px-3 d-none d-sm-inline text-primary" src="../assets/avatar.png">
                
            
        </a></li>
      </ul>
    </header>


    <section class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <h5 class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
          Payment
        </h5>
      
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li class="nav-item">
            <a href="#" class="nav-link px-1">
              <button type="button" class="btn btn-outline-light text-muted">Pending
                <button type="button" class="btn "  style="background-color: #BEDBFE;">
                    <span class="fw-bold ms-1 px-3 d-none d-sm-inline text-primary">Outstanding</span></button>
              </button>
            </a>
          </li>
      
          <li class="nav-item">
            <a href="#" class="nav-link px-1 py-3">
              <button type="button" class="btn ">
                <span class="ms-1 px-3 d-none d-sm-inline text-primary">January</span>
                <img src="../assets/Vector (5).png" alt="">
              </button>
            </a>
          </li>
        </ul>
      
        <div class="col-md-3 text-end">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="#" class="nav-link px-1">
                    <button type="button" class="btn">
                        <span class="ms-1 d-none d-sm-inline text-primary">Team</span>
                    </button>
                </a></li>

                <li class="nav-item">
                    <a href="#" class="nav-link px-1">
                      <button type="button" class="btn px-1">
                        <span class="ms-1 px-3 d-none d-sm-inline text-primary"> Product</span>
                        <img src="../assets/Vector (5).png" alt="">
                      </button>
                    </a>
                  </li>

                  <li class="nav-item"><a href="#" class="nav-link px-1">
                    <button type="button" class="btn" style="background-color: #EDFFFB;">
                        <img src="../assets/Vector (4).png">
                        <span class="ms-1 d-none d-sm-inline text-sucess">Proceed</span>
                    </button>
                </a></li>
            </ul>
        </div>
      </section>
      <div class="row">
     <div class="col-sm-6">
       <app-outstanding-amt></app-outstanding-amt>
     </div>

     <div class="col-sm-6">
      <app-total-pmt></app-total-pmt>
    </div>
  </div>
  </div>
